[Unit]
Description=Menu Ninja

[Service]
Type=exec
ExecStart=%h/.local/bin/menu-ninja --database %h/.local/state/menu-ninja/db

[Install]
WantedBy=multi-user.target
